header {
    font-size: xx-large;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border: 4px dashed black ;
}

#fishList {
    width: 50%;
    height: 50%;
    gap: 20px;
    padding: 20px;
    border: dashed black;
    border-width: 0px 4px 4px 4px;
    
   }